.container {
  background-color: var(--milk);
  height: calc(100vh - 50px);
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding: 10px;
  gap: 16px;
}

.mockblock {
  width: 340px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--peach);
  color: white;
}

.button {
  position: absolute;
  background-color: var(--peach);
  border: 1px solid white ;
  top: 15px;
  left: 10px;
}
