.blockOpen {
  background-color: var(--seawave);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.blockClose {
  background-color: var(--seawave);
  width: 100%;
  height: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1000ms ease-in-out;
  overflow: hidden;
}

.iconContainer {
  width: 60%;
  height: 100vh;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  animation-name: rotation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.centralRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lastRows {
  width: 100%;
  display: flex;
  justify-content: center;
}


.animatedCenralIcon {
  animation-name: centraliconrotation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes centraliconrotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.animatedLastIcon {
  animation-name: lasticonsrotation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

@keyframes lasticonsrotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
