body {
  margin: 0;
}

body ::-webkit-scrollbar {
  opacity: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --brown: #e27d5f;
  --aqua: #85cdcb;
  --green: #3fb3a3;
  --pink: #c38d9d;
  --peach: #e9a77b;
  --seawave: #7cc2ad;

  --gold: #d79922;
  --cotton: #efe2ba;
  --red: #f13c20;
  --darkblue: #4056a1;
  --heavenblue: #c5cbe3;
  --milk: #f1f0ea;
  --deepgreen: #134f23;
}
